<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link href="./assets/bootstrap.css" rel="stylesheet">
    <script src="./assets/jQuery.js"></script>

    <link href="./assets/fonts.css" rel="stylesheet">
    <link href="./styles.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
      <div class="row">

        <div class="col-12">
          <h1 class="title-head">Buttons</h1>
        </div>
        <div class="col-12">
          <div class="row gy-5">
            <div class="col-4">
              <button class="button button-1 sm-btn">Button 1</button>
            </div>
            <div class="col-4">
              <button class="button button-2">Button 2</button>
            </div>
            <div class="col-4">
              <button class="button button-3 full-btn">Button 3</button>
            </div>
            <div class="col-4">
              <button class="button button-4 sm-btn"><span>Button 4</span><i></i></button>
            </div>
            <div class="col-4">
              <button class="button button-5"><span>Button 5</span><i></i><i></i></button>
            </div>
            <div class="col-4">
              <button class="button button-5 button-6 full-btn"><span>Button 6</span><i></i><i></i></button>
            </div>
            <div class="col-4">
              <button class="button button-5 button-7 sm-btn"><span>Button 7</span><i></i><i></i></button>
            </div>
            <div class="col-4">
              <button class="button button-8">Button 8</button>
            </div>
            <div class="col-4">
              <button class="button button-9 full-btn">Button 9</button>
            </div>
          </div>
        </div>





        <div class="col-12">
          <h1 class="title-head">Fonts</h1>
        </div>
        <div class="col-12">
          <p class="fonts-para font-1">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-2">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-3">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-4">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-5">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-6">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-7">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-8">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-9">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-10">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-11">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-12">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-13">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-14">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-15">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-16">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-17">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-18">Whereas disregard and contempt for human rights have resulted</p>
        </div>

      </div>
    </div>
  </body>

  <script src="./index.js"></script>
</html>
