<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link href="./assets/bootstrap.css" rel="stylesheet">
    <script src="./assets/jQuery.js"></script>

    <link href="./assets/fonts.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">
      <div class="row">

        <div class="col-12">
          <h1 class="title-head">Buttons</h1>
        </div>
        <div class="col-12">
          <div class="row gy-5">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-1 sm-btn">Button 1</button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-2">Button 2</button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-2 button-3 full-btn">Button 3</button>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-4 sm-btn">Button 4</button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-5"><span>Button 5</span><i></i></button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-6 full-btn"><span>Button 6</span><i></i><i></i></button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-6 button-7 sm-btn"><span>Button 7</span><i></i><i></i></button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-6 button-8"><span>Button 8</span><i></i><i></i></button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-9 full-btn"><span>Button 9</span></button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-10 sm-btn"><span>Button 10</span></button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-10 button-11"><span>Button 11</span></button>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
              <button class="button button-10 button-11 button-12 full-btn"><span>Button 12</span></button>
            </div>
          </div>
        </div>



        <div class="col-12">
          <h1 class="title-head margin_top_large">inputs</h1>
        </div>
        <div class="col-12">
          <div class="row gy-5">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="input input-1">
                <input type="text" placeholder="Enter text here 1" autofocus>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="input input-2">
                <input type="number" placeholder="Enter number here 2">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="input input-3">
                <input type="number"  placeholder="Enter number here 3">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="input input-4">
                <input type="text"  placeholder="Enter text here 4">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="input input-btn input-5">
                <input type="text"  placeholder="Enter text here 5">
                <button><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="100px" height="100px"><path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"/></svg></button>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="input input-btn input-6">
                <input type="text"  placeholder="Enter text here 6">
                <button><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="100px" height="100px"><path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"/></svg></button>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12">
          <h1 class="title-head margin_top_large">Select</h1>
        </div>
        <div class="col-12">
          <div class="row gy-5">
            <div class="col-12 col-md-4 col-lg-3">
              <div class="select select-1">
                <div class="select-head">
                  <div class="select-selected">Choose a option</div>
                  <div class="select-toggle"><svg width="512" height="298" viewBox="0 0 512 298.04"><path d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg></div>
                </div>
                <div class="select-options normal">
                  <div class="select-option">Option 1</div>
                  <div class="select-option">Option 2</div>
                  <div class="select-option">Option 3</div>
                  <div class="select-option">Option 4</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="select select-2">
                <div class="select-head">
                  <div class="select-selected">Choose a option</div>
                  <div class="select-toggle"><svg width="512" height="298" viewBox="0 0 512 298.04"><path d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg></div>
                </div>
                <div class="select-options collapse">
                  <div class="select-option">Option 1</div>
                  <div class="select-option">Option 2</div>
                  <div class="select-option">Option 3</div>
                  <div class="select-option">Option 4</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="select select-3">
                <div class="select-head">
                  <div class="select-selected">Choose a option</div>
                  <div class="select-toggle"><svg width="512" height="298" viewBox="0 0 512 298.04"><path d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg></div>
                </div>
                <div class="select-options update">
                  <div class="select-option">Option 1</div>
                  <div class="select-option">Option 2</div>
                  <div class="select-option">Option 3</div>
                  <div class="select-option">Option 4</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="select select-3 select-4">
                <div class="select-head">
                  <div class="select-selected">Choose a option</div>
                  <div class="select-toggle"><svg width="512" height="298" viewBox="0 0 512 298.04"><path d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg></div>
                </div>
                <div class="select-options update-collapse">
                  <div class="select-option">Option 1</div>
                  <div class="select-option">Option 2</div>
                  <div class="select-option">Option 3</div>
                  <div class="select-option">Option 4</div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-3">
              <div class="select select-5">
                <div class="select-head">
                  <div class="select-selected">Choose a option</div>
                  <div class="select-toggle"><svg width="512" height="298" viewBox="0 0 512 298.04"><path d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg></div>
                </div>
                <div class="select-options normal">
                  <div class="select-option">Option 1 <span><i></i></span></div>
                  <div class="select-option">Option 2 <span><i></i></span></div>
                  <div class="select-option">Option 3 <span><i></i></span></div>
                  <div class="select-option">Option 4 <span><i></i></span></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="select select-2">
                <div class="select-head">
                  <div class="select-selected">Choose a option</div>
                  <div class="select-toggle"><svg width="512" height="298" viewBox="0 0 512 298.04"><path d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg></div>
                </div>
                <div class="select-options collapse">
                  <div class="select-option">Option 1 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 2 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 3 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 4 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="select select-3">
                <div class="select-head">
                  <div class="select-selected">Choose a option</div>
                  <div class="select-toggle"><svg width="512" height="298" viewBox="0 0 512 298.04"><path d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg></div>
                </div>
                <div class="select-options select-options-1 update">
                  <div class="select-option">Option 1 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 2 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 3 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 4 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="select select-3 select-4">
                <div class="select-head">
                  <div class="select-selected">Choose a option</div>
                  <div class="select-toggle"><svg width="512" height="298" viewBox="0 0 512 298.04"><path d="M12.08 70.78c-16.17-16.24-16.09-42.54.15-58.7 16.25-16.17 42.54-16.09 58.71.15L256 197.76 441.06 12.23c16.17-16.24 42.46-16.32 58.71-.15 16.24 16.16 16.32 42.46.15 58.7L285.27 285.96c-16.24 16.17-42.54 16.09-58.7-.15L12.08 70.78z"/></svg></div>
                </div>
                <div class="select-options select-options-2 update-collapse">
                  <div class="select-option">Option 1 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 2 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 3 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                  <div class="select-option">Option 4 <svg width="800px" height="800px" fill="none" viewBox="0 -0.5 25 25" ><path d="M5.5 12.5L10.167 17L19.5 8" /></svg></div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-12">
          <h1 class="title-head margin_top_large">Fonts</h1>
        </div>
        <div class="col-12">
          <p class="fonts-para font-1">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-2">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-3">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-4">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-5">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-6">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-7">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-8">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-9">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-10">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-11">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-12">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-13">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-14">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-15">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-16">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-17">Whereas disregard and contempt for human rights have resulted</p>
        </div>
        <div class="col-12">
          <p class="fonts-para font-18">Whereas disregard and contempt for human rights have resulted</p>
        </div>

      </div>
    </div>
  </body>

  <script src="./index.js"></script>
</html>
