@import "keyframes.css";


/*==============================
	Common root color
==============================*/

:root{
  --base-dark: #16151a;
  --base-light: #222227;
  --base-col : #32CCBC;

  --base-col1: #16151a;
  --base-col2 : #fff;

  --border-color : #236864;
  --shadow-color : #233135;

  --bg-btn:  #192629;
  --bg-btn-hover : #2E3A3C;
  --col-btn:  #32CCBC;
  --col-btn-hover : #fff;

  --text-col-1 : #32CCBC;
  --text-col-2 : #fff;
  --text-col-3 : #ccc;
  --text-col-4 : #999;
  --text-col-5 : #444;

  --blur-bg : rgba(0, 0, 0, .8);

}

/*==============================
	Common styles
==============================*/

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  font-family: 'Gabarito', sans-serif;
  background-color: var(--base-dark);
  -webkit-font-smoothing: antialiased;
  margin:0;
  width:100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-track {
  display: none;
}
body::-webkit-scrollbar-thumb {
  display: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}


button,input{
  outline: none;
  border: none;
  background: transparent;
}


/*==============================
	        Top header
==============================*/


  .navigation{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width: 100%;
    margin:0;
    padding: 5px 0;
  }

  .navigation .nav-logo{
    position: relative;
    display: block;
    width:50px;
    height:auto;
    margin-left: 10px;
  }
  .navigation .nav-bar{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    padding-left: 50px;
    margin-right : 10px;
    flex-shrink:1;
  }
  .navigation .nav-bar .nav-menu{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
  .nav-bar .nav-menu .menu-item{
    position: relative;
    display: block;
    color: var(--text-col-3);
    margin-right: 15px;
    font: 400 18px/20px 'Gabarito', sans-serif;
    text-decoration : none;
    transition: color .4s;
    &:hover{
      color: var(--text-col-2);
    }
  }
  .nav-bar .nav-menu .menu-item.active{
    color: var(--base-col);
  }
  .navigation .nav-bar .connect-wallet{
    position: relative;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: var(--col-btn);
    background: var(--bg-btn);
    border-radius: 34px;
    font: 400 16px/18px 'Gabarito', sans-serif;
    transition: color .4s, background-color .4s;
    margin: 0;
    padding: 8px 12px;
    outline: none;
    border:none;
    &:hover{
      background: var(--bg-btn-hover);
      color: var(--col-btn-hover);
    }
    &:disabled{
      background: var(--bg-btn-hover);
      color: var(--col-btn);
    }
  }

  .menu_toggle{
    display: none;
    position:relative;
    padding: 0;
    margin-right:10px;
    cursor:pointer;
    height:50px;
  }
  .menu_toggle span,
  .menu_toggle span:after,
  .menu_toggle span:before{
    display: block;
    position:relative;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: var(--text-col-3);
    transition: all 0.3s;
    padding: 0;
    margin: 0;
  }
  .menu_toggle span:after,
  .menu_toggle span:before{
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
  }
  .menu_toggle span:after{
    top: 12px;
  }

  .menu_toggle:hover span{
    background: var(--base-col);
    &:after,&:before{
      background: var(--base-col);
    }
  }

  .menu_toggle:focus span{
    height: 0px;
    background: var(--base-dark);
  }
  .menu_toggle:focus span:after{
    top: 0;
    transform: rotate(45deg);
    transform-origin: 50% ;
  }
  .menu_toggle:focus span:before{
    top: 0;
    transform: rotate(-45deg);
    transform-origin: 50% ;
  }


  @media(max-width : 576px){
    .navigation{
      justify-content:space-between;
      padding: 5px 0;
    }
    .navigation .nav-bar{
      position: relative;
      display: none;
      flex-direction:row;
      justify-content:space-between;
      align-items:center;
      width: 100%;
      padding-left: 50px;
      margin-right : 10px;
      flex-shrink:1;
    }
    .navigation .nav-bar{
      position: absolute;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:flex-start;
      top: 60px;
      right: -50%;
      width: 50%;
      height: calc(100vh - 60px);
      padding: 20px 0 0 20px;
      margin:0;
      z-index: 10;
      background: var(--base-dark);
      transition: right .4s;
    }
    .navigation .nav-bar .nav-menu{
      position: relative;
      display: flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:flex-start;
    }
    .nav-bar .nav-menu .menu-item{
      margin: 0 0 18px;
      font: 400 20px/25px 'Gabarito', sans-serif;
    }
    .navigation .nav-bar .connect-wallet{
      width: 100%;
      border-radius: 10px;
      font: 400 16px/18px 'Gabarito', sans-serif;
      padding: 8px 12px;
      margin-top: 25px;
    }

    .menu_toggle{
      display: block;
      &:focus{
        height: 0px;
      }
    }
    .menu_toggle:focus + .nav-bar{
      right: 0;
      box-shadow: -2px 0 10px 0 var(--shadow-color);
    }
  }
  /*==============================
  	        theme switch
  ==============================*/

  input#theme-toggle-input{
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .theme-toggle{
    --size: 20px;
    position: absolute;

    right: 145px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background: #888;
    border: solid 1px #444;
    padding: 6px;
    border-radius: 32px;

    &:after {
    position: absolute;
    display: block;
		content: "";
		width:  calc(var(--size) + 6px);
		height: calc(var(--size) + 6px);
		top: 3px;
		left: 3px;
		background: linear-gradient(180deg, #ffcc89, #d8860b);
		border-radius: 50%;
		transition: 0.3s;
	}
  }
  .theme-toggle svg{
    position: relative;
  	display: block;
		width: var(--size);
    height: var(--size);
    z-index: 1;
  }
  .theme-toggle svg.sun {
    fill: #222227;
    margin-right: 14px;
  }
  .theme-toggle svg.moon {
    fill: #000;
  }

input#theme-toggle-input:checked + .theme-toggle{
  background: #192629;
  border: solid 1px #2E3A3C;
    &:after {
      left: calc(var(--size) + 17px);
      background: linear-gradient(180deg, #777, #3a3a3a);
    }
  }

input#theme-toggle-input:checked + .theme-toggle svg.sun {
  fill: #ccc;
  margin-right: 14px;
}
input#theme-toggle-input:checked + .theme-toggle svg.moon {
  fill: #ffffff;
}


@media(max-width : 576px){

  .theme-toggle{
    position:relative;
    right:inherit;
  }
}


/*==============================
	      swap page styles
==============================*/

  .wrapper{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width: 100%;
  }



  .swap_wrapper{
    --c1 : var(--border-color);
    --c2 : var(--bg-btn);

    position: relative;
    display: block;
    width:500px;
    padding: 10px;
    border-radius: 22px;
    overflow:hidden;
    margin: 90px 0 0;
    background: var(--c1);
    background-image: linear-gradient(135deg, var(--c1), var(--c2));
    box-shadow: 0 0 70px 0 var(--shadow-color);

    @supports (background:paint(something)){
      background-image: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop(var(--c1)), to(var(--c2)));
      background-image: -webkit-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
      background-image: -o-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
      background-image: linear-gradient(var(--angle), var(--c1), var(--c2)) ;
  		-webkit-animation: 4s rotate-angle linear infinite normal;
  		animation: 4s rotate-angle linear infinite normal;
  	}
    &::before {
      content: "";
      position: absolute;
      inset: 2px;
      z-index: 0;
      background: var(--base-dark);
      border-radius: 20px;
    }
  }

  .swap_wrapper .swap_menu{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 0 15px 12px;
  }

  .swap_wrapper .swap_menu .swap_item{
    --c1 : var(--text-col-1);
    --c2 : var(--text-col-2);

    position: relative;
    display: block;
    font: 400 20px/22px 'Gabarito-500', sans-serif;
    margin: 0;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    background: var(--c1);
    background-image: linear-gradient(135deg,var(--c1), var(--c2));
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @supports (background:paint(something)){
      background-image:-webkit-gradient(linear,left top, right top,from(var(--c1)),color-stop(var(--c2)),color-stop(var(--c2)),to(var(--c1)));
      background-image:-o-linear-gradient(left,var(--c1) var(--distance),var(--c2) calc(var(--distance) + 5%),var(--c2) calc(var(--distance) + 25%),var(--c1) calc(var(--distance) + 30%));
      background-image:linear-gradient(90deg,var(--c1) var(--distance),var(--c2) calc(var(--distance) + 5%),var(--c2) calc(var(--distance) + 25%),var(--c1) calc(var(--distance) + 30%));
      background-image:linear-gradient(90deg,var(--c1) var(--distance),var(--c2) calc(var(--distance) + 5%),var(--c2) calc(var(--distance) + 25%),var(--c1) calc(var(--distance) + 30%));
  		-webkit-animation: 3s move-forward linear infinite normal;
  		animation: 3s move-forward linear infinite normal;
    }
  }

  .swap_wrapper .swap_menu button.swap_item{
    background: transparent;
    border:none;
    cursor: pointer;
    color: var(--text-col-3);
    &:hover{
      color: var(--text-col-2);
    }
  }

  .swap_wrapper .swap_input_tab{
    position: relative;
    display: block;
  }
  .swap_wrapper .swap_input_area{
    position: relative;
    display: block;
    background: var(--base-light);
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0;
    &:last-child{
      margin-top: 4px;
    }
    &:hover{
      box-shadow: inset 0 0 6px var(--text-col-5);
    }
  }

  .swap_wrapper .swap_input_area .swap_input_area_text{
    position: relative;
    display: block;
    font: 400 15px/22px 'Gabarito', sans-serif;
    margin: 0 0 5px 0;
    color: var(--text-col-4);
    cursor: pointer;
    &:last-child{
      margin: 5px 0 0 0;
      cursor: text;
    }
  }

  .swap_wrapper .swap_input_area .swap_input_section{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }

  .swap_wrapper .swap_input_area .swap_input_section input{
    position: relative;
    display: block;
    font: 400 40px/45px 'Gabarito', sans-serif;
    width: 100%;
    border: none;
    background: transparent;
    flex-shrink: 1;
    color: var(--text-col-2);
    padding: 5px 8px 5px 0;

    &::placeholder{
      color: var(--text-col-3);
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus{
      outline: none;
    }
  }

  .coin_list_select{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background: var(--text-col-5);
    padding: 4px 6px;
    border-radius: 32px;
    flex-shrink: 0;
    cursor: pointer;
  }

  .coin_list_select .coin_list_select_inner{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }

  .coin_list_select img{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .coin_list_select p{
    position: relative;
    display: block;
    font: 400 18px/22px 'Gabarito', sans-serif;
    margin: 0 0 0 6px;
    color: var(--text-col-2);
  }

  .coin_list_select svg{
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    margin: 0 2px 0 8px;
    fill: var(--text-col-3);
  }

  .coin_list_select:hover p{
    color: var(--text-col-2);
  }
  .coin_list_select:hover svg{
    fill: var(--text-col-2);
  }

  .swap_input_toggle{
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    z-index:1;
    width: 30px;
    height: 30px;
    background: var(--base-light);
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    border-radius: 8px;
    border: solid 4px var(--base-dark);
    &:hover{
      box-shadow: inset 0 0 5px var(--text-col-5);
    }
  }
  .swap_input_toggle svg{
    height: 20px;
    width: auto;
    fill:none;
    stroke : var(--text-col-4);
    stroke-width : 2px;
    stroke-linecap  : round;
    stroke-linejoin  : round;
  }
  .swap_input_toggle:hover svg{
    stroke : var(--text-col-3);
  }




button.swap_btn {
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  text-decoration: none;
  color: var(--col-btn);
  background: var(--bg-btn);
  border-radius: 14px;
  font: 400 22px/25px 'Gabarito', sans-serif;
  transition: color .4s, background-color .4s;
  margin: 10px 0 0 0;
  padding: 15px 30px;
  outline: none;
  border:none;
  width: 100%;
  &:hover{
    background: var(--bg-btn-hover);
    color: var(--col-btn-hover);
  }
}

button.swap_btn p{
  position: relative;
  display: block;
  margin: 0;
}



@media(max-width : 576px){
  .swap_wrapper{
    border-radius: 16px;
    margin: 50px 0 0;
    box-shadow: 0 0 20px 0 var(--shadow-color);
    width: calc(100% - 30px);
    &::before {
      border-radius: 15px;
    }
  }
  .swap_wrapper .swap_menu{
    padding: 0 10px 12px;
  }

  .swap_wrapper .swap_input_area{
    border-radius: 10px;
    padding: 10px 15px;
  }

  .swap_wrapper .swap_input_area .swap_input_section input{
    font: 400 35px/40px 'Gabarito', sans-serif;
    padding: 3px 5px 3px 0;
  }

  .coin_list_select{
    border-radius: 30px;
  }

  .coin_list_select img{
    width: 18px;
    height: 18px;
  }

  .coin_list_select p{
    font: 400 16px/20px 'Gabarito', sans-serif;
    margin: 0 0 0 4px;
  }

  .coin_list_select svg{
    width: 12px;
    height: 12px;
    margin: 0 2px 0 5px;
  }

  .swap_input_toggle{
    width: 26px;
    height: 26px;
    border-radius: 6px;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
    &:hover{
      box-shadow: inset 0 0 3px var(--text-col-5);
    }
  }
  .swap_input_toggle svg{
    height: 18px;
  }

  button.swap_btn {
    border-radius: 10px;
    font: 400 18px/22px 'Gabarito', sans-serif;
    margin: 8px 0 0 0;
    padding: 10px 30px;
  }
}

@media(max-width : 280px){
  .swap_wrapper .swap_input_area .swap_input_section{
    flex-wrap: wrap;
  }
  .coin_list_select{
    border-radius: 0;
    width: 100%;
    margin: 10px 0;
  }
}

/*==============================
	 Token select popup styles
==============================*/

.popup{
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
}
.popup::after{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--blur-bg);
  filter: blur(20px);
  top:0;
  z-index: -1;
}
.popup .popup-body{
  --c1 : var(--border-color);
  --c2 : var(--bg-btn);

  position: relative;
  display: block;
  width: 480px;
  min-height: 200px;
  margin: 100px auto 0;
  border-radius: 10px;
  background: var(--c1);
  background-image: linear-gradient(135deg, var(--c1), var(--c2));
  overflow:hidden;

  @supports (background:paint(something)){
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop(var(--c1)), to(var(--c2)));
    background-image: -webkit-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
    background-image: -o-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
    background-image: linear-gradient(var(--angle), var(--c1), var(--c2)) ;
    -webkit-animation: 4s rotate-angle linear infinite normal;
    animation: 4s rotate-angle linear infinite normal;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 2px;
    z-index: 0;
    background: var(--base-dark);
    border-radius: 9px;
  }

}

.popup .popup-body .popup-head,
.popup .popup-body .popup-middle,
.popup .popup-body .popup-last{
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  padding: 15px 25px;
  border-bottom:solid 1px var(--border-color);
}
.popup .popup-body .popup-head p{
  display: block;
  position: relative;
  color: var(--text-col-4);
  font: 400 20px/22px 'Gabarito', sans-serif;
  margin: 0;
}

.popup .popup-body .popup-head span{
  position: relative;
  display: block;
  cursor: pointer;
}
.popup .popup-body .popup-head span svg{
  width: 24px;
  height: auto;
  fill: var(--text-col-4);
}
.popup .popup-body .popup-head span:hover svg{
  fill: var(--text-col-3);
}

.popup .popup-body .popup-middle{
  justify-content: flex-start;
  flex-wrap:wrap;
  padding-bottom:0;
}

  .popup-middle .token-input{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width: 100%;
    margin:8px 0 15px 0;
    padding:6px 8px;
    color: var(--col-btn);
    border:solid 2px var(--bg-btn);
    border-radius: 10px;
    transition: color .4s, background-color .4s;
    &:hover,&:focus-within {
      border-color: var(--bg-btn-hover);
    }
  }
  .popup-middle .token-input svg{
    position: relative;
    display:block;
    outline: none;
    border:none;
    flex-shrink: 0;
    width: 25px;
    height:auto;
    fill: var(--text-col-4);
  }
  .popup-middle .token-input input{
    position: relative;
    display:block;
    background: transparent;
    width: 100%;
    border: none;
    outline:none;
    color: var(--text-col-2);
    font: 400 18px/22px 'Roboto Mono', sans-serif;
    padding: 0 5px 0 8px;
    border-radius: calc(var(--radius) - 1px);
    flex-shrink: 1;

    &::placeholder{
      color: var(--text-col-4);
    }
  }

  .popup-middle .hot-tokens-list{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
    width: 100%;
  }

  .popup-middle .hot-tokens-list button{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background: var(--text-col-5);
    padding: 8px 12px;
    border-radius: 32px;
    border:none;
    outline:none;
    margin: 0 15px 12px 0;
    &:hover{
      background: var(--text-col-4);
    }
  }
  .popup-middle .hot-tokens-list button img{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
  }

  .popup-middle .hot-tokens-list button p{
    position: relative;
    display: block;
    font: 400 16px/20px 'Gabarito', sans-serif;
    margin: 0 0 0 6px;
    color: var(--text-col-2);
  }

.popup .popup-body .popup-last{
  border: none;
  align-items:flex-start;
  max-height: calc(80vh - 300px);
  min-height:120px;
  overflow:hidden;
  padding: 15px 2px;

}

.coins-lists{
  position:relative;
  display:block;
  width:100%;
  height: 100%;
  overflow:auto;
  height: calc(80vh - 330px);
  min-height:90px;
  padding: 0 23px;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #222227;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--base-col);
  }
}

.coins-lists .coins-list{
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:100%;
  margin-bottom: 18px;
  cursor:pointer;
}

.coins-lists .coins-list img{
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 15px;
}

.coins-lists .coins-list .coin-details{
  position: relative;
  display: block;
  width:100%;
  flex-shrink: 1;
}

.coins-lists .coins-list .coin-details p{
  position: relative;
  display: block;
  font: 400 18px/22px 'Gabarito', sans-serif;
  color: var(--text-col-3);
  margin: 0 0 4px 0;
}
.coins-lists .coins-list .coin-details span{
  position: relative;
  display: block;
  font: 400 14px/20px 'Gabarito', sans-serif;
  color: var(--text-col-4);
  margin: 0;
}
.coins-lists .coins-list:hover .coin-details p{
  color: var(--text-col-2);
}
.coins-lists .coins-list:hover .coin-details span{
  color: var(--text-col-3);
}

.coins-lists .coins-list svg{
  position: relative;
  display:block;
  margin:0;
  width: 30px;
  height: auto;
  fill: var(--base-dark);
}
.coins-lists .coins-list.active svg{
  fill: var(--base-col);
}





@media(max-width : 576px){
  .popup .popup-body{
    width: calc(100% - 20px);
    min-height: 100px;
  }
}
