@import "keyframes.css";

body{
  background: #222227;
  box-sizing: border-box;
}


h1.title-head{
  display: block;
  position: relative;
  color: #ccc;
  text-align: center;
  /* https://www.w3schools.com/cssref/pr_padding.php */
  padding-bottom: 25px;
  /* https://www.w3schools.com/cssref/pr_margin.php */
  margin: 25px 0;
  border-bottom: solid 1px #888;
  text-transform: uppercase;

  /* font: font-weight font-size/line-height font-family; */
  font: 700 50px/50px 'Open Sans-700', sans-serif;


}

h1.title-head.margin_top_large {
  margin-top: 100px;
}
/*******************************
 *     Button examoles         *
 *******************************/

.button{
  --radius: 8px;
  --color:  #fff;
  --bg:  #32CCBC;
  --duration: .4s;

  position: relative;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  text-decoration: none;
  color: var(--color);
  background-color: var(--bg);
  border-radius: var(--radius);
  font: 400 22px/25px 'Open Sans', sans-serif;
  transition: var(--duration) ease;
  transition-property: color, background-color, border-color, box-shadow;

  padding: 15px 30px;
  outline: none;
  border:none;
  width: 100%;
}
.button:hover {
  --bg: #90F7EC;
  --color:  #222;
}
.button:focus {
  outline: none;
}

.button.button-1{
  --radius : 0;
  --duration: .15s;
  --delay: .15s;
  transition:
    border-top-left-radius var(--duration) var(--delay) ease-out,
    border-top-right-radius var(--duration) calc(var(--delay) * 2) ease-out,
    border-bottom-right-radius var(--duration) calc(var(--delay) * 3) ease-out,
    border-bottom-left-radius var(--duration) calc(var(--delay) * 4) ease-out,
    background calc(var(--duration) * 4) steps(4, jump-end),
    color calc(var(--duration) * 4), border-color calc(var(--duration) * 4), box-shadow calc(var(--duration) * 4);
}
.button.button-1:hover,
.button.button-1:focus {
  --radius : 16px;
}


.button.button-2{
  --bg:  #EA5455;
  --radius: 16px;
  --duration: .15s;
  --delay: .15s;
  transition:
    border-top-left-radius var(--duration) var(--delay) ease-out,
    border-top-right-radius var(--duration) calc(var(--delay) * 2) ease-out,
    border-bottom-right-radius var(--duration) calc(var(--delay) * 3) ease-out,
    border-bottom-left-radius var(--duration) calc(var(--delay) * 4) ease-out,
    background calc(var(--duration) * 4) steps(4, jump-end),
    color calc(var(--duration) * 4), border-color calc(var(--duration) * 4), box-shadow calc(var(--duration) * 4);
}
.button.button-2:hover,
.button.button-2:focus {
  --radius : 0;
  --bg:  #FEB692;
}


.button.button-3{
  --radius: 30px;
  --bg:  #E2B0FF;
  --bg2:  #9F44D3;
  background-image: linear-gradient(45deg, var(--bg), var(--bg2)) ;
}
.button.button-3:hover,
.button.button-3:focus {
  --bg2:  #E2B0FF;
  --bg:  #9F44D3;
}

.button.button-4 {
  --bg:  #FCCF31;
  --_g: linear-gradient(var(--bg) 0 0) no-repeat;
  box-shadow: 0 0 0 4px inset var(--bg);
  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  transition: background-size .4s, background-position 0s .4s,color;
}
.button.button-4:hover,
.button.button-4:focus {
  --_p: 100%;
  --bg:  #F55555;
  --color:  #fff;
  transition: background-position .4s, background-size 0s;
}

.button.button-5{
  --radius : 0;
  --bg: #FCB58F;
  --bg2: #FB955D;

}
.button.button-5:hover {
  --color:  #fff;
}
.button.button-5::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222227;
}

.button.button-5 span {
  position: relative;
  z-index: 1;
}
.button.button-5 i {
  position: absolute;
  inset: 0;
  display: block;
}

.button.button-5 i::before,.button.button-5 i::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 6px;
  right: 10px;
  top: -2px;
  border: 2px solid var(--bg2);
  background: #222227;
  transition: all var(--duration);
}
.button.button-5 i::after {
  left: 10px;
  bottom: -2px;
  right:initial;
  top:initial;
}

.button.button-5:hover i::before,.button.button-5:hover i::after {
  width: 25px;
  right: calc(100% - 35px);
}
.button.button-5:hover i::after {
  width: 25px;
  left: calc(100% - 35px);
}




.button.button-6{
  --bg:  #0FF0FC;
  --radius : 0;
  --clr : var(--bg);
  --color:  #fff;
  --size: 5px;
}
.button.button-6:focus{
  --bg:  #fff;
}
.button.button-6::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

.button.button-6 span {
  position: relative;
  z-index: 1;
}
.button.button-6 i {
  position: absolute;
  inset: 0;
  display: block;
}

.button.button-6 i::before,.button.button-6 i::after {
  content: "";
  position: absolute;
  width: var(--size);
  height: var(--size);
  right: 0;
  top: 0;
  background: var(--clr);
  transition: all var(--duration);
}
.button.button-6 i::after {
  left: 0;
  bottom: 0;
  right:initial;
  top:initial;
}

.button.button-6 i:nth-child(2)::before {
  bottom: 0;
  top:initial;
}
.button.button-6 i:nth-child(2)::after {
  top: 0;
  bottom:initial;
}

.button.button-6:hover i::before,
.button.button-6:hover i::after {
  --size : 3px;
  width: 100%;
}

.button.button-6:hover i:nth-child(2)::before,
.button.button-6:hover i:nth-child(2)::after{
  width:var(--size);
  height: 100%;
}



.button.button-7{
  --bg:  #ffe913;
  --size : 5px;
}
.button.button-7:focus{
  --bg:  #fff;
  --color: #ffe913;
}
.button.button-7:hover i::before,.button.button-7:hover i::after {
  --size : 50%;
  width: var(--size);
}
.button.button-7:hover i:nth-child(2)::before,
.button.button-7:hover i:nth-child(2)::after{
  height:var(--size);
}

.button.button-8{
  --bg:  #ff052e;
  --size : 50%;
  /* --color: #000; */
}
.button.button-8:focus{
  --bg:  #fff;
  --color: #ff052e;
}

.button.button-8:hover i::before,.button.button-8:hover i::after {
  --size : 5px;
  width: var(--size);
}
.button.button-8:hover i:nth-child(2)::before,
.button.button-8:hover i:nth-child(2)::after{
  height:var(--size);
}



.button.button-9{
  --pad : 3px;
  --c1 : #DC2424;
  --c2 : #4A569D;
  --bg:  var(--c1);
  --color:  #fff;
  background-image: linear-gradient(135deg, var(--c1), var(--c2)) ;
  &::after {
    position: absolute;
    top: var(--pad);
    left: var(--pad);
    bottom: var(--pad);
    right: var(--pad);
    background: #222227;
    content: '';
    z-index: 0;
    border-radius: calc(var(--radius) - 1px);
  }
}
.button.button-9:hover{
  background-image: linear-gradient(-135deg, var(--c1), var(--c2)) ;
}
.button.button-9 span{
  position: relative;
  z-index: 1;
}
.button.button-10{
  --pad : 3px;
  --c1 : #c21500;
  --c2 : #ffc500;
  --bg:  var(--c1);
  --color:  #fff;

  background-image: linear-gradient(135deg, var(--c1), var(--c2));
  &::after {
    position: absolute;
    top: var(--pad);
    left: var(--pad);
    bottom: var(--pad);
    right: var(--pad);
    background: #222227;
    content: '';
    z-index: 0;
    border-radius: calc(var(--radius) - 1px);
  }

  @supports (background:paint(something)){
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop(var(--c1)), to(var(--c2)));
    background-image: -webkit-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
    background-image: -o-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
    background-image: linear-gradient(var(--angle), var(--c1), var(--c2)) ;
		-webkit-animation: 4s rotate-angle linear infinite normal;
		animation: 4s rotate-angle linear infinite normal;
	}
}

.button.button-10:hover{
  animation-direction: reverse;
}
.button.button-10 span{
  position: relative;
  z-index: 1;
}

.button.button-11{
  --c1 : #6441A5;
  --c2 : #2a0845;
}

.button.button-11 span{
  --c3 : #6441A5;
  --c4 : #ccc;
  font-family: 'Gabarito-500';
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text !important;

  background: var(--c1);
  background-image: linear-gradient(135deg,var(--c3), var(--c4));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* Standard syntax */

  @supports (background:paint(something)){
    background-image:-webkit-gradient(linear,left top, right top,from(var(--c3)),color-stop(var(--c4)),color-stop(var(--c4)),to(var(--c3)));
    background-image:-o-linear-gradient(left,var(--c3) var(--distance),var(--c4) calc(var(--distance) + 5%),var(--c4) calc(var(--distance) + 25%),var(--c3) calc(var(--distance) + 30%));
    background-image:linear-gradient(90deg,var(--c3) var(--distance),var(--c4) calc(var(--distance) + 5%),var(--c4) calc(var(--distance) + 25%),var(--c3) calc(var(--distance) + 30%));
    background-image:linear-gradient(90deg,var(--c3) var(--distance),var(--c4) calc(var(--distance) + 5%),var(--c4) calc(var(--distance) + 25%),var(--c3) calc(var(--distance) + 30%));
		-webkit-animation: 3s move-forward linear infinite normal;
		animation: 3s move-forward linear infinite normal;
  }
}

.button.button-12{
  --c1 : #6018DC;
  --c2 : #EEAD92;
  --radius : 30px;
}
.button.button-12 span{
  --c3 : #6018DC;
  --c4 : #ccc;
 }


.button.sm-btn{

}
.button.full-btn{
  /* width: 100%; */
}



/*******************************
 *       Input examoles         *
 *******************************/


 .input{
   --radius: 8px;
   --br-width: 2px;
   --color:  #fff;
   --border-color:  #32CCBC;
   --bg : #222227;
   --duration: .4s;
   --width: 100%;
   --btn-bg : #333;
   --svg-col : #ccc;

   position: relative;
   display: flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   padding:var(--br-width);
   background: var(--border-color);
   border-radius: var(--radius);
   transition: var(--duration) ease;
   transition-property: color, border-color, box-shadow;
   width: 100%;
   overflow:hidden;
   height:50px;
 }
 .input:hover {
   --border-color: #90F7EC;
 }

 .input input{
   position: relative;
   display:block;
   outline:none;
   background: var(--bg);
   width: var(--width);
   height: 100%;
   border: none;
   color: var(--color);
   font: 400 18px/22px 'Roboto Mono', sans-serif;
   padding: 0 15px;
   border-radius: calc(var(--radius) - 1px);
   flex-shrink: 1;

   &::placeholder{
     color: #ccc;
   }
   &::-webkit-outer-spin-button,
   &::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   &[type=number] {
     -moz-appearance: textfield;
   }
 }

 .input button{
   position: relative;
   display:block;
   outline: none;
   border:none;
   background:var(--btn-bg);
   flex-shrink: 0;
   height: 100%;
 }

 .input button svg{
   width: 25px;
   height:auto;
   fill: var(--svg-col);
 }
 .input button:hover svg{
   --svg-col : #ffffff;
 }

 .input.input-btn input{
   border-radius: calc(var(--radius) - 1px) 0 0 calc(var(--radius) - 1px);
 }
 .input.input-btn button{
   border-radius: 0 calc(var(--radius) - 1px) calc(var(--radius) - 1px) 0;
 }

 .input.input-2{
   --border-color:  #FAB2FF;
   box-shadow:0 0 6px 0 var(--border-color);
 }
 .input.input-2:hover{
   box-shadow:0 0 12px 0 var(--border-color);
 }

 .input.input-7{

 }


 .input.input-3{
   --c1 : #c21500;
   --c2 : #ffc500;
   --border-color : var(--c1);

   background-image: linear-gradient(135deg,var(--c1), var(--c2));
 }
 .input.input-3:hover{
   @supports (background:paint(something)){
     background-image: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop(var(--c1)), to(var(--c2)));
     background-image: -webkit-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
     background-image: -o-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
     background-image: linear-gradient(var(--angle), var(--c1), var(--c2)) ;
    -webkit-animation: 4s rotate-angle linear infinite normal;
    animation: 4s rotate-angle linear infinite normal;
  }
 }


 .input.input-4{
   --c1 : #6018DC;
   --c2 : #EEAD92;
   --border-color : var(--c1);

   background-image: linear-gradient(135deg,var(--c1), var(--c2));
   @supports (background:paint(something)){
     background-image: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop(var(--c1)), to(var(--c2)));
     background-image: -webkit-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
     background-image: -o-linear-gradient(var(--angle), var(--c1), var(--c2)) ;
     background-image: linear-gradient(var(--angle), var(--c1), var(--c2)) ;
 		-webkit-animation: 4s rotate-angle linear infinite normal;
 		animation: 4s rotate-angle linear infinite normal;
 	}
 }

 .input.input-4:hover{
   @supports (background:paint(something)){
     animation-direction: reverse;
  }
 }

 .input.input-5{
   --c1  : #BB4E75;
   --border-color : var(--c1);
   --btn-bg : var(--c1);
   &:hover{
     --c1  : #F067B4;
   }
 }
 .input.input-5 input{
   padding-right: 8px;
 }

  .input.input-6{
    --c1 : #81FFEF;
    --c2 : #F067B4;
    --btn-bg : var(--bg);

  }
  .input.input-6 input{
    padding-right: 0;
  }

  .input.input-7{
    --border-color: #cc2b5e;

    &:hover {
      --border-color: #753a88;
    }
  }

  .input.input-7{
    --border-color: #cc2b5e;

    &:hover {
      --border-color: #753a88;
    }
  }

  .input.input-8{
    --c1 : #00416A;
    --c2 : #E4E5E6;
  }


  .input.input-9{
    --c1  : #4364F7;
    &:hover{
      --c1  : #0052D4;
    }
  }



/*******************************
*      Select examoles         *
*******************************/


  .select{
    --radius: 6px;
    --br-width: 2px;
    --color:  #fff;
    --op-color:  #ccc;
    --border-color:  #32CCBC;
    --bg : #222227;
    --duration: .4s;
    --svg-col : #ccc;

    position: relative;
    display: block;
    transition: var(--duration) ease;
    transition-property: color, border-color, box-shadow;
    width: 100%;
  }
  .select .select-head{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background: var(--border-color);
    border-radius: var(--radius);
    color: var(--color);
    padding: 8px 10px;
    width: 100%;
    overflow:hidden;
    cursor: pointer;
    &:hover{
      --svg-col: var(--border-color);
    }
    &::before{
      position: absolute;
      display: block;
      content: "";
      top: var(--br-width);
      bottom: var(--br-width);
      left: var(--br-width);
      right: var(--br-width);
      background: var(--bg);
      border-radius: calc(var(--radius) - 1px);
    }
  }
  .select .select-head .select-selected{
    position: relative;
    display: block;
    font: 400 18px/22px 'Open Sans-500', sans-serif;
    width:100%;
    flex-shrink: 1;
  }
  .select .select-head .select-toggle{
    position: relative;
    display: block;
    flex-shrink: 0;
  }
  .select .select-head .select-toggle svg{
    width: 20px;
    height: auto;
    fill: var(--svg-col);
  }

  .select .select-options{
    position: absolute;
    display:none;
    top:calc(100% + 4px);
    left: 0;
    width: 100%;
    background: var(--border-color);
    padding: var(--br-width);
    border-radius: var(--radius);
    z-index: 2;
  }
  .select .select-options .select-option{
    position: relative;
    display: block;
    color: var(--op-color);
    background: var(--bg);
    font: 400 16px/22px 'Open Sans', sans-serif;
    margin-bottom: var(--br-width);
    padding: 8px 10px;
    cursor: pointer;
    &:first-child{
      border-radius: calc(var(--radius) - 1px) calc(var(--radius) - 1px) 0 0;
    }
    &:last-child{
      margin-bottom: 0;
      border-radius: 0 0 calc(var(--radius) - 1px) calc(var(--radius) - 1px);
    }
    &:hover{
      --op-color: var(--color);
    }

  }
  .select .select-options .select-option.active{
    --op-color: var(--border-color);
  }


  .select.show .select-options{
    display: block;
  }
  .select.show .select-head .select-toggle svg{
    transform: rotate(180deg);
    --svg-col: var(--border-color);

  }

/*******************************
*       Font examoles         *
*******************************/

.fonts-para {
  display: block;
  position: relative;
  color: #fff;
  text-align: center;
  font: 400 24px/30px sans-serif;
}
.fonts-para.font-1{
  font-family: 'Gabarito', sans-serif;
}
.fonts-para.font-2{
  font-size: 25px;
  font-family: 'Gabarito-500', sans-serif;
}
.fonts-para.font-3{
  font-size: 26px;
  font-family: 'Gabarito-600', sans-serif;
}
.fonts-para.font-4{
  font-size: 27px;
  font-family: 'Gabarito-700', sans-serif;
}
.fonts-para.font-5{
  font-size: 28px;
  font-family: 'Gabarito-800', sans-serif;
}
.fonts-para.font-6{
  font-size: 29px;
  font-family: 'Gabarito-900', sans-serif;
}

.fonts-para.font-7{
  font-family: 'Young Serif', sans-serif;
}
.fonts-para.font-8{
  font-family: 'Tilt Neon', sans-serif;
}
.fonts-para.font-9{
  font-family: 'Tilt Neon-500', sans-serif;
}
.fonts-para.font-10{
  font-family: 'Roboto Mono', sans-serif;
}
.fonts-para.font-11{
  font-family: 'Roboto Mono-500', sans-serif;
}

.fonts-para.font-12{
  font-family: 'Open Sans', sans-serif;
}
.fonts-para.font-13{
  font-family: 'Open Sans-500', sans-serif;
}
.fonts-para.font-14{
  font-family: 'Open Sans-600', sans-serif;
}
.fonts-para.font-15{
  font-family: 'Open Sans-700', sans-serif;
}
.fonts-para.font-16{
  font-family: 'Open Sans-800', sans-serif;
}
.fonts-para.font-17{
  font-family: 'Poppins', sans-serif;
}
.fonts-para.font-18{
  font-family: 'Poppins-500', sans-serif;
}
